.sidebar {
    width: 295px;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    background-color: #1b1b1b;
    border-right: 2px solid #2c2c2c;
    padding: 8px 12px 60px 12px;
    display: flex;
    flex-direction: column;
    animation: slideIn 0.25s ease forwards;
}

.headerText {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 8px;
    transform: translateX(1px);
}

.cardList {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
    flex: 1;
}

.noBacklog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    user-select: none;
    color: #696969;
}

.noBacklogText {
    transform: translateX(-8px);
    color: #696969;
}

.bottom {
    position: absolute;
    bottom: 4px;
    left: 12px;
    right: 12px;
    z-index: 1;
    display: flex;
    justify-content: center;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
