.tools-container {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  
  display: flex;
  flex-direction: row;
  background-color: var(--panel);
  padding: 4px;
  border-radius: 100px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  
  z-index: 1001;
}

.btn {
  border-color: transparent;
  padding: 10px;
  border-radius: 100px;
}

.btn:hover {
  background-color: var(--surface);
}

.btn-icon {
  color : var(--text-muted);
}

.btn-icon:hover{
  color: var(--text);
}

.ghost-container {
  position: fixed;
  top: -1000px;
  left: -1000px;
  pointer-events: none;
}

.ghost-wrapper {
  background-color: var(--panel);
  border: 2px dashed var(--muted-2);
  padding: 12px;
  border-radius: 100px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}