@import './theme.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  background-color: var(--bg);
  color: var(--text);
}

button,
p,
h1,
h2,
h3 {
  color: var(--text);
  font-family: "Rubik";
}